:root {
    --primary-col: #6200EE;
    --variant-col: #3700B3;
    --secondary-col: #03DAC6;
    --bg-col: #FFFFFF;
}

[data-theme='dark'] {
    --primary-col: #BB86FC;
    --variant-col: #3700B3;
    --secondary-col: #03DAC6;
    --bg-col: #121212;
}

.app {
    color: var(--primary-col);
    background-color: var(--bg-col);
    transition: all .5s;
}
